# Ignore sensitive files and folders
data/*
!data/raw/
!data/processed/
models/*

# Virtual environment
.venv/
env/

# VSCode settings
.vscode/
__pycache__/
*.pyc
*.pyo

# Logs and system files
*.log
*.DS_Store